<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List App!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script th:src="@{/js/movielistscript.js}" defer></script>
  </head>
  <body>
    <!-- Header Fragment -->
    <div th:fragment="frame">
      <header class="header">
        <!-- Display Success Message -->
        <div th:if="${success == null and error == null}" class="message">
          <p>Messages will display here...</p>
        </div>
  
        <!-- Display Success Message -->
        <div th:if="${success != null}" class="success-message">
          <p th:text="${success}"></p>
        </div>
  
        <!-- Display Error Message -->
        <div th:if="${error != null}" class="error-message">
          <p th:text="${error}"></p>
        </div>
      </header>

      <nav class="sidenav">
        <div class="sidenav-title">
          <img src="/images/moviilist.png" alt="Movielist Logo">
        </div>
  
        <div class="sidenav-links">
          <ul>
            <li>
              <a href="/"><i class="fa-solid fa-igloo"></i></i>Home</a>
            </li>
            <li>
              <a href="/movies"><i class="fa-solid fa-film"></i></i>Movies</a>
            </li>
            <li>
              <a href="/search"><i class="fa-brands fa-searchengin"></i></i>Search</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
