<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List App!</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script th:src="@{/js/movielistscript.js}" defer></script>
    <script
      src="https://kit.fontawesome.com/eb7c358919.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="overflow-y: hidden">
    <div th:replace="~{fragments/pageSetup.html :: frame}"></div>

    <div class="content">
      <div class="homepage-text">
        <h1>Welcome to MovieList</h1>
        <p>
          Your Personal Movie Journal and Showtime Alert system. Where every
          film you love comes back to you.
        </p>

        <h3>Rate and Remember</h3>
        <p>
          Just watched a movie? Search for it here and give it a rating! Our app
          will do the rest! It will save your movie in your list and rank them
          in order, from those casual watches to the unforgettable
          blockbusters...
        </p>

        <h3>The Magic of 9 - Stay Alerted, Stay Excited</h3>
        <p>
          Got a movie that's a solid 9 or above in your book? We've got a
          special treat for you... Never miss out on a cinematic reunion! If
          your beloved movies are playing nearby, we'll let you know...
        </p>
      </div>
    </div>
  </body>
</html>
