<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <title>Login</title>
  </head>
  <body style="height: auto">
    <div class="user-form">
      <!-- Display error message if 'error' parameter is present in the URL -->
      <div th:if="${param.error}">
        <p style="color: red">Invalid user or password!</p>
      </div>

      <div th:if="${loginSuccess}">
        <p style="color: green" th:text="${loginSuccess}"></p>
      </div>

      <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username..."
          required
          th:value="${testUname}"
        />

        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          placeholder="Enter password..."
          required
          th:value="${testPwd}"

        />

        <button type="submit">Sign in</button>
      </form>

      <p>Don't have an account?<a href="/signup"> Register here</a></p>
      
      <a th:if="${showTest}" href="/signuptest" style="color:green">Register TEST user</a></p>
    </div>
  </body>
</html>
