<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List App!</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script th:src="@{/js/movielistscript.js}" defer></script>
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="table-header">
        <h3
          th:text="${username} ? ${username} + '\'s movies' : 'No user!'"
        ></h3>
      </div>

      <table class="movietable">
        <thead>
          <tr>
            <th>Rating</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- Use Thymeleaf to loop through list of movies object, and input each individual movie into a table row -->
          <tr th:each="movieConnection : ${movieConnections}">
            <!-- stat also holds info like index (starting from 0), count (starting from 1), size (size of list), current (item being procesed)-->
            <td>
              <input
                type="number"
                th:value="${movieConnection.rating}"
                min="0"
                max="10"
                step="0.1"
                th:data-movieconnection-id="${movieConnection.movie_connection_id}"
                class="editable-rating"
                required
              />
            </td>
            <!-- <td th:text="${movie.rating}">Score</td> -->
            <td th:text="${movieConnection.movie.title}">Movie</td>
            <td th:text="${movieConnection.movie.genre}">Genre</td>
            <td>
              <button
                th:onclick="deleteRow([[${movieConnection.movie.movie_id}]])"
                class="btn btn-delete"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <!-- Display Success Message -->
      <div th:if="${success == null and error == null}" class="message">
        <p>Messages will display here...</p>
      </div>

      <!-- Display Success Message -->
      <div th:if="${success != null}" class="success-message">
        <p th:text="${success}"></p>
      </div>

      <!-- Display Error Message -->
      <div th:if="${error != null}" class="error-message">
        <p th:text="${error}"></p>
      </div>
    </footer>
  </body>

  <script>
    // vent occurs when an element loses focus. For example, if you have an input field and it's currently focused (i.e., you can type into it), when you click away from it or tab to another element
    document.querySelectorAll(".editable-rating").forEach((cell) => {
      cell.addEventListener("blur", function () {
        var updatedRating = this.value;
        var movieConnectionId = this.getAttribute("data-movieconnection-id");
        console.log(cell);
        console.log(updatedRating);
        console.log(movieConnectionId);

        var params = new URLSearchParams();
        params.append("rating", updatedRating);

        fetch("/movieConnections/" + movieConnectionId + "/rating", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            // Include CSRF token if required
          },
          body: params,
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/movies"; // if delete was successful, then refresh page by returning user to /movies URL  which will call the database to get whole list of movies again
            } else {
              throw new Error("Error updating movie rating"); // if was failed, the throw error
            }
          })
          .catch((error) => {
            console.error(error);
            // Handle error case
          });
      });
    });
  </script>
</html>
