<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List App!</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script th:src="@{/js/movielistscript.js}" defer></script>
    <script
      src="https://kit.fontawesome.com/eb7c358919.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/images/moviilist.png" type="image/png" />
  </head>
  <body style="overflow-y: auto">
    <div th:replace="~{fragments/pageSetup.html :: frame}"></div>

    <div class="content">
      <div class="search-favourites">
        <button
          type="button"
          th:onclick="performSearchFavourite([[${user.favouriteReleaseYear}]])"
          class="search-button-favourites"
        >
          Favourite year
        </button>
      </div>
      <div class="search-bar">
        <input
          type="text"
          id="searchInput"
          class="search-term"
          placeholder="Search the TMDB database..."
          onkeyup="checkEnterKey(event)"
          style="width: 100%"
        />
        <button onclick="performSearch()" class="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>

      <div id="searchResultsGrid"></div>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <form id="ratingForm" action="" method="post">
            <label for="rating"
              >What would you rate this movie out of 10? (e.g., "Rate as 7, 8.2,
              etc.").</label
            >
            <input
              type="number"
              id="rating"
              name="rating"
              min="0"
              max="10"
              step="0.1"
              value="5"
              required
            />
            <input type="hidden" id="tmdbMovieId" name="tmdbMovieId" />
            <button type="submit">Submit Rating</button>
            <button type="button" onclick="closePopup()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    function checkEnterKey(event) {
      // Check if the pressed key is Enter (key code 13)
      if (event.keyCode === 13) {
        performSearch();
      }
    }

    function performSearch() {
      // Get the value from the input field
      var searchTerm = document.getElementById("searchInput").value;
      console.log("Search term:", searchTerm);

      // https://developer.themoviedb.org/reference/search-movie
      const options = {
        method: "GET",
        headers: {
          accept: "application/json",
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxY2ZlZDIxNjQ2NjY2Yzk5YjNlZjA2NDZlMjg5MTFkYyIsInN1YiI6IjY1NWZhMzQ5NzA2ZTU2MDEzOGMyMDk2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vgOOTsReFyIncA0dEgC-LmyvvsniZrHQW7n0reCUPvc",
        },
      };

      const baseUrl = window.location.origin; // Get the current origin (e.g., http://localhost:3000)
      console.log("Base URL = " + baseUrl);
      const url = `${baseUrl}/search/moviesByTitle?movieTitle=${encodeURIComponent(
        searchTerm
      )}`;
      console.log("New URL = " + url);

      fetch(url, options)
        .then((response) => response.json())
        .then((response) => displaySearchResults(response)) // logging the response
        .catch((err) => console.error(err));
    }

    function performSearchFavourite(favouriteReleaseYear) {
      // Get the value from the input field
      console.log("Search term:", favouriteReleaseYear);

      // https://developer.themoviedb.org/reference/search-movie
      const options = {
        method: "GET",
        headers: {
          accept: "application/json",
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxY2ZlZDIxNjQ2NjY2Yzk5YjNlZjA2NDZlMjg5MTFkYyIsInN1YiI6IjY1NWZhMzQ5NzA2ZTU2MDEzOGMyMDk2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vgOOTsReFyIncA0dEgC-LmyvvsniZrHQW7n0reCUPvc",
        },
      };

      const baseUrl = window.location.origin; // Get the current origin (e.g., http://localhost:3000)
      console.log("Base URL = " + baseUrl);
      const url = `${baseUrl}/search/moviesByReleaseYear?releaseYear=${encodeURIComponent(
        favouriteReleaseYear
      )}`;
      console.log("New URL = " + url);

      fetch(url, options)
        .then((response) => response.json())
        .then((response) => displaySearchResults(response)) // logging the response
        .catch((err) => console.error(err));
    }

    function displaySearchResults(results) {
      console.log("DisplaySearchResults: ", results);

      const searchResultsGrid = document.getElementById("searchResultsGrid");
      searchResultsGrid.innerHTML = ""; // clear previous search results

      // loop through each movie in the results object and create a row in the table
      results.forEach((movie) => {
        // parse release date to just year
        const releaseYear = movie.release_date.split("-")[0]; // split '2018-01-20' into three, and take the first part

        const posterPath =
          "https://image.tmdb.org/t/p/w500" + movie.poster_path;
        console.log(posterPath);
        // create and row for table
        const movieBox = `
          <div class="movie-box">
            <div class="movie-box-poster" style="background-image: 
            url('${posterPath}');"></div>
  
            <div class="movie-box-text">
              <p>${movie.title}</p>
              <p>${releaseYear}</p>
  
              <div class="movie-box-add">
                <a href="javascript:void(0)" onclick="showRatingPopup(${movie.id})" class="add-movie-button">I just watched this!</a>
              </div>
            </div>
  
            
          </div>
            `;

        searchResultsGrid.innerHTML += movieBox;
      });
    }

    function showRatingPopup(tmdbMovieId) {
      document.getElementById("tmdbMovieId").value = tmdbMovieId;
      document.getElementById("ratingForm").action = "/movies/add";

      var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    function closePopup() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
  </script>
</html>
