<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie List App!</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script th:src="@{/js/movielistscript.js}" defer></script>
    <link rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="table-header">
        <input
          type="text"
          id="searchInput"
          placeholder="Search the TMDB database..."
          onkeyup="checkEnterKey(event)"
          style="width: 100%"
        />
        <button onclick="performSearch()">Search</button>
      </div>

      <table class="movietable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Release date</th>
            <th>Add button</th>
          </tr>
        </thead>
        <tbody id="searchResults"></tbody>
      </table>
    </div>

    <footer class="footer">
      <!-- Display Success Message -->
      <div th:if="${success == null and error == null}" class="message">
        <p>Messages will display here...</p>
      </div>

      <!-- Display Success Message -->
      <div th:if="${success != null}" class="success-message">
        <p th:text="${success}"></p>
      </div>

      <!-- Display Error Message -->
      <div th:if="${error != null}" class="error-message">
        <p th:text="${error}"></p>
      </div>
    </footer>
  </body>

  <script>
    function checkEnterKey(event) {
      // Check if the pressed key is Enter (key code 13)
      if (event.keyCode === 13) {
        performSearch();
      }
    }

    function performSearch() {
      // Get the value from the input field
      var searchTerm = document.getElementById("searchInput").value;
      console.log("Search term:", searchTerm);

      // https://developer.themoviedb.org/reference/search-movie
      const options = {
        method: "GET",
        headers: {
          accept: "application/json",
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxY2ZlZDIxNjQ2NjY2Yzk5YjNlZjA2NDZlMjg5MTFkYyIsInN1YiI6IjY1NWZhMzQ5NzA2ZTU2MDEzOGMyMDk2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vgOOTsReFyIncA0dEgC-LmyvvsniZrHQW7n0reCUPvc",
        },
      };

      fetch(
        "https://api.themoviedb.org/3/search/movie?query=" +
          searchTerm +
          "&include_adult=false&language=en-US&page=1",
        options
      )
        .then((response) => response.json())
        .then((response) => displaySearchResults(response.results)) // logging the response
        .catch((err) => console.error(err));
    }

    function displaySearchResults(results) {
      console.log("DisplaySearchResults: ", results);

      const searchResultsTableBody = document.getElementById("searchResults");
      searchResultsTableBody.innerHTML = ""; // clear previous search results

      // loop through each movie in the results object and create a row in the table
      results.forEach((movie) => {
        // parse release date to just year
        const releaseYear = movie.release_date.split("-")[0]; // split '2018-01-20' into three, and take the first part

        // create and row for table
        const rowHTML = `
                <tr>
                    <td>${movie.title}</td>
                    <td>${releaseYear}</td>
                    <td>
                      <a href="/movies/${movie.id}/add" class="btn">Add</a>
                    </td>
                </tr>
            `;

        searchResultsTableBody.innerHTML += rowHTML;
      });
    }
  </script>
</html>
